fastapi==0.116.1
uvicorn==0.23.2
aiohttp==3.12.14
aiohttp-retry==2.9.1
pydantic==2.11.4
starlette==0.47.2
pydantic-settings==2.9.1
httpcore==1.0.9
openai==1.81.0
SQLAlchemy==2.0.40
gunicorn==23.0.0
uvloop==0.21.0
pytz==2025.2
qdrant-client==1.14.2
python-dotenv==1.1.0
streamlit==1.45.1
omegaconf==2.3.0
bm25s==0.2.13
spacy==3.8.7
azure-identity==1.23.0
azure-storage-blob==12.25.1
unidecode==1.4.0
httpx==0.28.1
langdetect==1.0.9
openai-agents==0.0.17
alembic==1.16.2
tiktoken==0.9.0
beautifulsoup4
opik>=1.8.38
passlib==1.7.4
bcrypt
dash==3.1.1
dash-bootstrap-components==2.0.3
flask_login==0.6.3
redis==6.0.0
PyJWT[crypto]==2.10.1
# Dev dependencies
pytest==8.4.1
coverage==7.9.1
ruff==0.11.6

FlagEmbedding==1.2.11
einops==0.8.0
